.about {
    position: relative;
    top: 50px;
}

.about .pic {
    margin-left: 18%;
    display: inline-block;
    float: left;
}


.Review {
    background: #CFDADD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 24px;
    padding: 1.5rem;
}
@media screen and (min-width: 650px) {
    .Review {
        padding: 48px;
        padding: 3rem;
    }
}
.Review-details {
    display: flex;
    align-items: center;
}
.Review-details p {
    margin: 0;
}
.Review-details img {
    width: 54px;
    height: 54px;
    margin-right: 24px;
    margin-right: 1.5rem;
    border-radius: 50%;
}
.Review-author {
    font-weight: bold;
}
.Review-date {
    color: #b6c2cc;
}
.Review-star {
    color: #B6C2CC;
}
.Review-star--active {
    color: #FF7867;
}
.Review-body .Review-title + p {
    margin-top: 0;
}
.Review-body img {
    margin: 12px 0px;
    margin: 0.75rem 0rem;
}

.about .pic img {
    width: 458px;
    height: 600px;
    object-fit: cover;
    border-radius: 3px;
}

.description div * {
    display: inline-block;
}

.description {
    width: 38.5%;
    position: relative;
    margin-top: -130px;
    display: inline-block;
    margin-left: 2%;
    text-align: justify;
}

.text {
    position: relative;
    height: auto;
    background: #C4C4C4;
    text-align: justify;
    padding: 3%;
    border-radius: 3px;
}

.rateIMDB {
    margin-left: 20%;
    width: 90px;
    height: 64px;
}

.rateKINO {
    margin-left: 30%;
    width: 90px;
    height: 64px;
}

.rate {
    width: 55px;
    border: 4px solid #025167;
    float: left;
}

.textrate {
    display: inline-block;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 30px;

    color: #000000;
}

.site {
    font-size: 18px;
}

.rest {
    width: 35px;
    border: 4px solid #C4C4C4;
    float: left;
}

.bottom_text * {
    display: none;
    background: #C4C4C4;
    margin-left: 5.5%;
    margin-right: 4%;
    margin-top: 1%;
    padding: 2%;
    border-radius: 3px;
}

.roles {
    text-align: justify;
}

.mob_view {
    display: none;
}

.middle-rate {
    display: none;
}

.main {
    height: 2000px;
}

.shedule {
    margin-top: 12%;
    margin-left: 18%;
    margin-right: 15%;
    position: absolute;
}

.list-structure,
.block {
    margin-bottom: 12px;
}

.list-structure > ul {
    padding-left: 0;
    margin-bottom: 0;
}

.dropdown_main > li {
    background: white;
    /*background: rgba(196, 196, 196, 0.9);*/
    display: block;
    margin-bottom: 10px;
    width: 100%;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
}

.dropdown li {
    width: 100%;
}

.list-structure li:last-child {
    margin-bottom: 0;
}

p.dropdown_title {
    background: #057D9F !important;
    color: #FFFFFF;
    padding: .6em;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 14px;
    padding: 11px 10px 7px 31px;
    border-radius: 4px;
}

.list-structure li a {
    color: black;
    display: inline-block;
    font-size: 14px;
    padding: 11px 10px 7px 31px;
    text-decoration: none;
    user-select: none;
    outline: none;
}

.dropdown li:hover {
    background: rgba(5, 125, 159, 0.8);
}

.line_li_a {
    display: inline-block;
!important;
}


.dropdown {
    display: none;
}

.block {
    padding: 10px;
    height: 257px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

@media screen and (max-width: 1135px) {
    .dropdown_shedule {
        margin-left: 10%;
    }

    .description .text {
        display: none;
    }

    .large_rate {
        display: none;
    }

    .bottom_text * {
        display: block;
    }

    .about .pic {
        margin-left: 4%;
    }

    .description {
        margin-top: 0%;
    }

    .middle-rate {
        display: block;
    }

    .rateIMDB {
        margin-left: 5%;
    }

    .rateKINO {
        margin-left: 10%;
    }

    .main {
        height: 1500px;
    }

    .shedule {
        margin-top: 10%;
        margin-left: 0;
        text-align: center;
    }
}

@media screen and (max-width: 850px) {
    .about .pic {
        margin-left: 5%;
    }

    .description {
        margin-top: 5%;
        margin-left: 10%;
        width: 77%;
        line-height: 1;
    }

    .bottom_text {
        margin-left: 5%;
        margin-right: 5%;
    }

    .mob_view {
        display: block;
        font-size: 14px;
    }

    .desktop_view {
        display: none;
    }

    .rateIMDB {
        margin-left: 10%;
        float: left;
    }

    .rateKINO {
        margin-left: 20%;
        float: left;
    }

    .main {
        height: 2000px;
    }
}


