
html {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background: #FFFFFF;
    overflow-x: hidden;
}

body{
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

header {
    position: absolute;
    width: 100%;
    height: 144px;
    left: 0px;
    top: 0px;

    background: #025167;
}

header > .LOGO {
    position: absolute;
    width: 130px;
    height: 130px;
    left: 104px;
    top: 0px;
}

.LOGO > p {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 36px;

    color: #FFFFFF;
}


header #city {
    position: absolute;
    width: 164px;
    height: 16px;
    left: 299px;
    top: 27px;

    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    outline: none; /* убирать контур в Mozilla */

    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 18px;

    color: #FFFFFF;
}

nav * {
    display: none;
}

header .btn_group_menu {
    top: 66px;
    height: 48px;
}

.btn_group_menu a.buttonAFISHA, .btn_group_menu a.buttonCINEMAS {
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    padding: .7em 1.5em; /* отступ от текста */
    outline: none;

    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 18px;
    text-align: center;

    color: #FFFFFF;

    background: #057D9F;
    border-radius: 4px;
}

.btn_group_menu a.buttonAFISHA {
    position: absolute;
    width: 248px;
    left: 260px;
}

.btn_group_menu a.buttonCINEMAS {
    position: absolute;
    width: 248px;
    left: 524px;
}

header .btn_group_account {
    top: 66px;
    height: 48px;
    text-align: right;
    padding: .8em 2em; /* отступ от текста */
    word-spacing: 1.5em;
}

.btn_group_account a.profile, .btn_group_account a.login {
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    outline: none;
    padding: .6em;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 18px;

    box-sizing: border-box;
    border-radius: 32px;

    color: #FFFFFF;
}

.btn_group_account a.profile:hover, .btn_group_account a.login:hover {
    box-shadow: 0 0 0 3px #FFFFFF;
}

.btn_group_account a.profile:active, .btn_group_account a.login:active {
    box-shadow: 0 0 0 3px #FFFFFF;
}

.btn_group_menu a.buttonAFISHA:hover, .btn_group_menu a.buttonCINEMAS:hover,
.btn_save_account:hover {
    background: #216477;
}

.btn_group_menu a.buttonAFISHA:active, .btn_group_menu a.buttonCINEMAS:active,
.btn_save_account:active {
    background: #61B7CF;
}

.main {
    position: relative;
    width: 100%;
    height: 100vh;
    left: 0px;
    top: 130px;

    background: #FFFFFF;
    border-radius: 15px;
}

.MyHistory {
    position: relative;
    top: 100px;
    height: 164px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 28px;
    color: #000000;
    text-align: center;
}

.PersonalInfo {
    position: relative;
    top: 100px;
    height: 164px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 28px;
    text-align: left;

    color: #000000;
}

#vertical_line {
    position: relative;
    width: 1000px;
    border: 1.5px solid rgba(97, 183, 207, 0.6);
    top: 484px;
    right: 410px;
    transform: rotate(90deg);
}

#tab_name {
    position: absolute;
    width: 149px;
    height: 32px;
    left: 245px;
    top: 27px;

    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 24px;

    color: #FFFFFF;

    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    outline: none;
}

.mob_info {
    display: none;
}

.text-field-container {
    height: 75px;
    top: 20px;
}

.text-field {
    position: relative;
    display: inline-flex;
    width: 100%;
    max-width: 33em;
    margin: 0.75em 0.5em 0.25em 0;
    align-items: center;
    background-color: #fff;
}

.text-field input {
    border: 0;
    background: transparent;
    width: 100%;
    padding: 1em;
}

.text-field input:focus {
    outline: none;
}

.text-field label {
    position: absolute;
    background-color: #FFFFFF;
    left: 1em;
    top: 50%;
    transform: translateY(-60%);
    transition: 85ms ease-in-out;
    padding: 0;
    max-width: calc(100% - (1em * 2));
    border-radius: 10px;
    color: #025167;
    font-weight: bold;
}

.text-field.has-focus label, .text-field.has-value label {
    top: 0;
    left: 0.5em !important;
    font-size: 1em;
    padding: 0 4px;
}

.text-field.has-focus {
    color: #081073;
}

.text-field.text-field--outlined {
    border: 2px solid #081073;
    border-radius: 4px;
}

.text-field.text-field--outlined:hover {
    border-color: black;
}

.text-field.text-field--outlined.has-focus {
    border-color: #081073;
    box-shadow: 0px 0px 0px 1px #081073;
}

.btn_save_account {
    position: relative;
    top: 20px;
    width: 352px;
    height: 49px;
    border: 0;

    background: #057D9F;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 18px;
    text-align: center;

    cursor: pointer;
    outline: none !important;
    color: #FFFFFF;
}

.main_text {
    position: absolute;
    width: 296px;
    height: 68px;
    left: 253px;
    top: 152px;

    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 18px;
    text-align: center;

    color: #000000;
}

.all_films {
    position: relative;
    margin-right: 10%;
    margin-left: 10%;
    top: 200px;
    display: grid;
    grid-gap: 20px;
    height: 100%;
    grid-template-columns: repeat(auto-fit, minmax(326px, 1fr));
    grid-template-rows: repeat(10, 468px);
}

.film_lg .pic {
    height: 70%;
    width: 100%;
    object-fit: cover;
    background: #3D3D3D;
}

.film_lg .text {
    height: 30%;
    width: 100%;
    background: #C4C4C4;
}

.film_lg:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

/*footer > .content{
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 306px;
    width: 100%;


    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

footer  .LOGO{
    position: relative;
    width: 143px;
    height: 139.65px;
    left: 326px;
    top: 72.91px;

    background: #025167;
}*/


/*.col-md-5{
    box-shadow: 0 0 0 3px black;
}

.col-md-6{
    box-shadow: 0 0 0 3px black;
}

.col-md-1{
    box-shadow: 0 0 0 3px black;
}*/



