<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/media.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700&amp;subset=cyrillic,cyrillic-ext"
          rel="stylesheet">
</head>
<body>
<header>
    <nav>
        <div class="row">
            <div class="col-8">
                <div class="navToggle">
                    <div class="icon-left"></div>
                    <div class="icon-right"></div>
                </div>
            </div>
        </div>

        <ul>
            <div class="LOGO">НАШ КИНО ТЕАТР</div>
            <a href="index.html" class="buttonAFISHA">КИНОАФИША</a>
            <a href="#" class="buttonCINEMAS">КИНОТЕАТРЫ</a>
        </ul>
    </nav>

    <div class="LOGO">
        <p>НАШ КИНО ТЕАТР</p>
    </div>
    <a href="#" id="tab_name">ПРОФИЛЬ</a>
    <div class="row">
        <div class="col-6 btn_group_menu">
            <a href="index.html" class="buttonAFISHA">КИНОАФИША</a>
            <a href="#" class="buttonCINEMAS">КИНОТЕАТРЫ</a>
        </div>
    </div>

</header>
<div class="main">
    <div class="mob_info">
        <div class="row">
            <div class="col-md-6">
                <p class="PersonalInfo">Персональная информация</p>

                <div class="text-field-container">
                    <div class="text-field text-field--outlined">
                        <input id="name_mob" type="text"/>
                        <label for="name_mob">имя</label>
                    </div>
                </div>

                <div class="text-field-container">
                    <div class="text-field text-field--outlined">
                        <input id="email_mob" type="text"/>
                        <label for="email_mob">email</label>
                    </div>
                </div>

                <div class="text-field-container">
                    <div class="text-field text-field--outlined">
                        <input id="phone_mob" type="text"/>
                        <label for="phone_mob">телефон</label>
                    </div>
                </div>

                <form>
                    <button type="submit" class="btn_save_account">
                        СОХРАНИТЬ
                    </button>
                </form>

            </div>
            <div class="col-md-6">
                <p class="MyHistory">Мои сеансы</p>
            </div>
        </div>
    </div>

    <div class="desktop_info">
        <div class="row">
            <div class="col-lg-4 col-md-5">
                <p class="MyHistory">Мои сеансы</p>
            </div>
            <div class="col-lg-2 col-md-1">
                <hr id="vertical_line">
            </div>
            <div class="col-lg-6 col-md-6">
                <p class="PersonalInfo">Персональная информация</p>

                <div class="text-field-container">
                    <div class="text-field text-field--outlined">
                        <input id="name" type="text"/>
                        <label for="name">имя</label>
                    </div>
                </div>

                <div class="text-field-container">
                    <div class="text-field text-field--outlined">
                        <input id="email" type="text"/>
                        <label for="email">email</label>
                    </div>
                </div>

                <div class="text-field-container">
                    <div class="text-field text-field--outlined">
                        <input id="phone" type="text"/>
                        <label for="phone">телефон</label>
                    </div>
                </div>

                <form>
                    <button type="submit" class="btn_save_account">
                        СОХРАНИТЬ
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="js/bootstrap.min.js"></script>

<script>
    a = 0;
    $(".navToggle").click(function () {
        $("nav").toggleClass("open");
        $(this).toggleClass("open");
        $(".main").toggleClass("open");

    });

    $('input').on('focus', function () {
        $(this).closest('.text-field').addClass('has-focus');
    });

    $('input').on('blur', function () {
        $(this).closest('.text-field').removeClass('has-focus');
    });

    $('input').on('change', function () {
        $wrapper = $(this).closest('.text-field');
        $value = $(this).val();
        console.log($value);
        if ($value) {
            $wrapper.addClass('has-value');
        } else {
            $wrapper.removeClass('has-value');
        }
    });
</script>

</body>
</html>