<!DOCTYPE HTML>
<!-- TODO: Change shortcut icon, title!!!-->
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/media.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700&amp;subset=cyrillic,cyrillic-ext"
          rel="stylesheet">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>


<body>
<header>
    <nav>
        <div class="row">
            <div class="col-7">
                <div class="navToggle">
                    <div class="icon-left"></div>
                    <div class="icon-right"></div>
                </div>
            </div>
            <div class="col-5 btn_group_account">
                <a href="account.html" class="profile">ПРОФИЛЬ</a>
            </div>
        </div>

        <ul>
            <div class="LOGO">НАШ КИНО ТЕАТР</div>
            <a href="#" class="buttonAFISHA">КИНОАФИША</a>
            <a href="#" class="buttonCINEMAS">КИНОТЕТРЫ</a>
        </ul>
    </nav>

    <div class="LOGO">
        <p>НАШ КИНО ТЕАТР</p>
    </div>
    <a href="#" iduser="city">ВЛАДИВОСТОК</a>
    <div class="row">
        <div class="col-md-6 col-sm-4 btn_group_menu">
            <a href="#" class="buttonAFISHA">КИНОАФИША</a>
            <a href="#" class="buttonCINEMAS">КИНОТЕТРЫ</a>
        </div>
        <div class="col-md-6 col-sm-4 btn_group_account">
            <a href="#" class="login">ВОЙТИ</a>
            <a href="account.html" class="profile">ПРОФИЛЬ</a>
        </div>
    </div>
</header>
<div class="main">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-2"></div>
        <p></p>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="js/bootstrap.min.js"></script>

<script>
    $(".navToggle").click(function () {
        $(this).toggleClass("open");
        $("nav").toggleClass("open");
        $(".main").toggleClass("open");
    });

</script>

</body>
</html>