<html>
    <body>
        <p>Hello</p>
        <form method="post">
            <div>Новый пользователь!</div>
            <input type="text" name="user" placeholder="user_name"/>
            <button type="submit">submit</button>
        </form>
        <div>Пользователи</div>
        {{#users}}
            <div>
                <b>{{id}}</b>
                <b>{{pidoeName}}</b>
            </div>
        {{/users}}
    </body>
</html>